* {
    padding: 0;
    margin: 0;
}

/* скрываем скроллбар */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll; /* сохраняем возможность прокрутки */
}

body {
    background: #eceae5;
}

/* скрываем скроллбар на webkit-based браузерах */
body::-webkit-scrollbar {
    display: none;
}

p{
    text-indent: 50px;
}

#bridge p{
    text-indent: 0;
    text-align: center;
}

#navigation {
    width: 100%;
    height: 56px;
    background: #d7ceb8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 56px;
    background: #c41a3f;
    color: white;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pages {
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#pages a {
    text-decoration: none;
    color: #3c3c3c;
    font-family: Georgia, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#pages a:hover {
    color: #ee204d;
}

#pages .active {
    color: #c41a3f;
}

#divider {
    border-right: 1px solid #3d0f10;
    margin-left: 24px;
    margin-right: 24px;
    height: 32px;
}

#content {
    margin-top: 56px;
    z-index: 1;
}

#bridge {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bridge img {
    object-fit: cover;
    height: 372px;
    width: 100%;
    filter: brightness(40%);
}

#bridge p {
    position: absolute;
    font-family: Georgia, sans-serif;
    font-size: 30px;
    color: white;
    margin: 0 72px;
}

hr {
    margin: 32px 128px;
    color: whitesmoke;
}

.menu {
    display: none !important;
}

@media (max-width: 1240px) {
    #pages {
        display: none;
    }

    .menu {
        display: block !important;
    }
}










@keyframes g_anim {
    0% {
        transform: scale(1) rotate(-360deg);
    }

    100% {
        transform: scale(0) rotate(0deg);
    }
}

@keyframes g_anim_rev {
    0% {
        transform: scale(1) rotate(360deg);
    }

    100% {
        transform: scale(0) rotate(0deg);
    }

}

@keyframes out_g_anim {
    0% {
        transform: scale(0) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes out_g_anim_rev {
    0% {
        transform: scale(0) rotate(-360deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}